/*generic button-less dialog example*/
form>fieldset{ border:none;margin:0;padding:8px;text-align:center;}
form input {width:80%;padding: 8px;margin: 4px;}
form input[type="submit"] {margin: 24px 4px 0;}
form label {display:block;}